body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}

.lang-select{
    width: 7em;
}

td.rtl{
    text-align: left;
}

th {
    padding: 0.5em;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
}

td {
    padding: 0.25em;
    height: 2em;
    text-transform: capitalize;

}

td button {
    width: 5em;
    height: 2em;
}

/* .modal {
    background-color: lightblue;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
}

.modal.open {
    left: 50%;
    transition: left .5s;
}

.modal h3 {
    color: darkblue;
    text-decoration: overline;
    text-transform: capitalize;
}

.modal h4 span {
    color: darkblue;
}

.modal img {
    max-height: 250px;
}

.modal>p {
    text-align: left;
} */


.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}