body {
    background-color: rgb(240, 240, 240);

}

body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}

header {
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.lang-select {
    background-color: rgb(240, 240, 240);
    width: 7em;
    height: 3em;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1em;

}

.btn-outline-dark {
    width: 10em;
    margin: 1em 0 1.5em;
}

td.rtl {
    text-align: left;
}

th {
    padding: 0.5em;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
}

td {
    padding: 0.25em;
    height: 2em;
    text-transform: capitalize;

}

td button {
    width: 5em;
    height: 2em;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #ffc107;
    border-radius: 4px;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}